{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.three }}
{{ if .enable }}
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
      <h2>{{ .title | safeHTML }}</h2>
      {{ partial "body_text.html" (dict "context" . "md" $md) }}
		</header>
		<ul class="features">
      {{ range .feature }}
      <li class="icon {{ .icon }}">
        <h2>{{ .headshot | safeHTML }}</h2>
        <h2 style="text-align: center;">
         {{ .title | safeHTML }}<br />
         {{ .name | safeHTML }}
       </h2>
        <p style="text-align: center;">{{ .body | safeHTML }}</p>
			</li>
      {{ end }}
		</ul>
	</div>
</section>
{{ end }}
{{ end }}
